@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background: hsl(212, 45%, 89%);

    width: 100%;
    height: 100%;    
}
.container{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 99vh;
    width: 100%;
}
.child{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: white;
    width: 18vw;
    height: 30vw;
    border-radius: 18px;
    padding: 0 12px 15px 12px;
}
.qr-code{
    
    border-radius: 18px;

}
h1{
    font-family: 'Outfit', sans-serif;
    font-size: 1.16em;
    text-align: center;
    color: hsl(218, 44%, 22%);
}
p{
    font-family: 'Outfit', sans-serif;
    font-size: 0.87em;
    text-align: center;
    color: hsl(220, 15%, 55%);

}
@media only screen and (max-width: 500px){
    
    .child{
        width: 60vw;
        height: 75vh;
    }
}
@media only screen and (max-width: 1440px){
    
    
}

